<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h1 style="margin-bottom:20px; font-size:25px;">Livres recommandés</h1>
            <div id="box-book-recom" class="container-fluid"  style="background-color:white;overflow-y:scroll;height: 275px;">
                <div class='row'>
                    <!--<c:forEach items="${books}" var="book">-->
                    <a href="">
                        <div class='col-md-3' style='margin-top:20px;'>
                            <div class='book' style="background-image:url('resources/<!--${book.imagePath}-->')">
                                <div class='divBookTitle'><span class='bookTitle'><!--${book.bookTitle}--></span></div>
                            </div>
                        </div>
                    </a>
                    <!--</c:forEach>-->
                </div>
            </div>
        </div>
    </div>
</div>