html{
    height: 100%;
    min-height: 100%;
}

.page{
    min-height: 75%;
}

#box-book-recom{
    -webkit-box-shadow:inset 1px 1px 20px 1px #BDBDBD;
    box-shadow:inset 1px 1px 20px 1px #BDBDBD;
    height:300px;
    border:1px solid white;
    padding-bottom:10px;
    margin-left:0px;
    width:100%;
}

.book{
    background: no-repeat center;
    text-align:center;
    margin:10px auto;
    background-size: 170px 200px;
    height:200px;
    width:170px;
}

.book:hover{
    border:1px solid black;
}

.divBookTitle{
    background-color:rgba(255, 255, 255, 0.7);
}

.bookTitle{
    text-decoration: none;
    color:black;
    font-size:15px;
    font-weight: 700;
}




/* FOOTER */

.footer{
    position: relative;
    bottom:0;
    width:100%;
    height: 200px;
}

hr{
    margin-top:0;
}