<app-header></app-header>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Liste des livres</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th style='text-align:left'>Titre</th>
                            <th style='text-align:left'>Prix</th>
                            <th style='text-align:left'>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let b of book" id="contenant">
                        <tr>
                            <td><img width="130px" height="170px" src="http://localhost:8080/Library-Web/resources/{{b.imagePath}}"/></td>
                            <td style="vertical-align: middle;">{{b.bookTitle}}</td>
                            <td style="vertical-align: middle;">{{b.price}}</td>
                            <td style="vertical-align: middle;">
                                <a href="book/detail/{{b.bookId}}"><button class="btn btn-info">Détail</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
