<footer>
    <div style="background-color: #842C2C;">
        <div class="container" style="height: 20px;"></div>
    </div>
    <!--Footer Links-->
    <div class="container text-center">
        <div class="row">

            <!--First column-->
            <div class="col-md-4">
                <h6><strong>INFOTEL</strong></h6>
                <hr style="width: 60px; border-color:#842C2C;">
                <p><strong>Agence : </strong>Rennes</p>
                <p><strong>Addresse : </strong>2 Rue de la Mabilais, 35000 Rennes</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-4">
                <h6><strong>Technologies</strong></h6>

                <hr style="width: 60px; border-color:#842C2C;">
                <div class="row">
                    <div class="col-md-6">
                        <p>Bootstrap</p>
                        <p>jQuery</p>
                        <p>J2EE</p>
                    </div>
                    <div class="col-md-6">
                        <p>Spring MVC</p>
                        <p>Hibernate</p>
                        <p>Maven</p>
                    </div>
                </div>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-4">
                <h6><strong>Développeurs</strong></h6>
                <hr style="width: 60px; border-color:#842C2C;">
                <p><strong>Emmanuel CORNEIL</strong></p>
                <P>emmanuel.corneil@infotel.com</P>
                <p><strong>Julien COLLETER</strong></p>
                <p>julien.colleter@infotel.com</p>
            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="text-center">
        <div class="container-fluid">
            © 2018 Copyright: <strong>Emmanuel CORNEIL / Julien COLLETER</strong>
        </div>
    </div>
    <!--/.Copyright -->
</footer>
